.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: whitesmoke;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4abdac;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #f7b733;
    color: white;
  }
  .b{
    float: right;
    height: 30px;
    width: 30px;
    display: none;
    background-color: #4abdac  ;
  }  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      text-align: center;
      position: relative;
    }
    .b{display: block;}
    .icon{display: none;}
    .content {margin-left: 0;}
  }

  @media screen and (min-width: 700px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .icon{display: block !important}
  }


  .linkBox{
    border-bottom: 1px solid black;
  }